<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Property definitions that will be used in configurations like Appenders and Loggers  -->
    <Property name="LOG_PATTERN" value ="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40c{1.} : %m%n%ex"/>
    	
	
	<!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    
</configuration>